div{
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.aui-hidden{
	display: none;
}
.aui-text-left{
	text-align: left;
}
.aui-text-center{
	text-align: center;
}
.aui-text-right{
	text-align: right;
}
.aui-preloader-content{
	text-align: center;	padding-top:15px;
}
.aui-ranking-owner{
	color:#58BCF8;
	border-bottom: 1px solid #58BCF8;
	margin-bottom:2px;
}
.aui-ranking-badge{
	/*padding:10px;*/
	width:22px;
	height:22px;
	display:inline-block;
	position: relative;
}
.aui-ranking-badge .aui-ranking-header{
	width:20px;height:20px;
	border-radius:10px;
	color:#FFF;
	text-align:center;
	line-height:20px;
	font-size:10px;
	position: absolute;
	z-index: 999;
}
.aui-ranking-badge .aui-ranking-footer{
	height:0px; width:0px;margin-left:4px;
	margin-top:-3px;
	border-bottom:3px solid transparent;
	position: absolute;
	z-index: 99;
	top:20px;
}
.aui-ranking-badge.owner .aui-ranking-header{
	background-image:-webkit-linear-gradient(315deg, #FFB000, #43BDFF);
}
.aui-ranking-badge.asc .aui-ranking-header{
	background-image:-webkit-linear-gradient(315deg, #FEDA62, #FFB000);
}
.aui-ranking-badge.desc .aui-ranking-header{
	background-image:-webkit-linear-gradient(315deg, #98D8F3, #97F6CE);
}
.aui-ranking-badge.owner .aui-ranking-footer{
	border-left:6px solid #43BDFF;
	border-top:6px solid #43BDFF;
	border-right:6px solid #43BDFF;
}
.aui-ranking-badge.asc .aui-ranking-footer{
	border-left:6px solid #FF4E01;
	border-top:6px solid #FF4E01;
	border-right:6px solid #FF4E01;
}
.aui-ranking-badge.desc .aui-ranking-footer{
	border-left:6px solid #49CB9D;
	border-top:6px solid #49CB9D;
	border-right:6px solid #49CB9D;
}

/*覆盖framework7样式*/
.layout-asiainfo .navbar{
	color: #fff;
	background-image:-webkit-linear-gradient(315deg, #4F8EFF, #00d0ff);
}
.theme-asiainfo .navbar a{
	color:#fff;
}
.layout-asiainfo .login-screen-content{
	/*background-image:-webkit-linear-gradient(270deg, #4F8EFF, #00d0ff);*/
	background: #1D8DD9;
	background-image: url(../images/base/login/btm-banner.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}
.theme-asiainfo .tabbar a.active{
	color:#4F8EFF;
}
.theme-asiainfo .searchbar{
	background: #F3F3F3;
}
.theme-asiainfo .label-switch input[type=checkbox]:checked+.checkbox{
	background: #00d0ff;
}
.bg-gradient-blue{
	background-image:-webkit-linear-gradient(315deg, #00d0ff, #4F8EFF);
	border-radius:10px;
}
.bg-gradient-yellow{
	background-image:-webkit-linear-gradient(315deg, #FFDE59, #F5B100);
	border-radius:10px;
}
.bg-gradient-red{
	background-image:-webkit-linear-gradient(315deg, #F44336, #C63724);
	border-radius:10px;
}
.bg-light-gray{
	background: #DCDFE5;
}
.bg-light-blue{
	background-image:-webkit-linear-gradient(315deg, #00d0ff, #4F8EFF);
}
.list-block-form-title{
	background: #FFFFFF;
	/*min-height: 44px;*/
    position: relative;
    padding: 10px 15px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-top:5px;
}



/*.navbar:after{}*/
.tabbar.tabbar-hidden, .tabbar.toolbar-hidden, .toolbar.tabbar-hidden, .toolbar.toolbar-hidden{
	display: none;
}
.card{
	margin: 5px;
}
.card-content-inner{
	padding: 15px 5px;
	line-height: 160%;
}
.card-header{
	text-align: center;
	display: block;
	font-weight: bold;
}
.card-header>span,.list-block-form-title>span{
	display:inline-block;width:22px;height:22px;color:#FFF;
}
.card-header>span>i.f7-icons,.list-block-form-title>span>i.f7-icons{
	font-size:14px;
}
.list-block{
	margin: 0px auto;
}
.list-block.media-list .item-title{
	font-weight: bold;
}
.list-block .item-title,.card-header,
.list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=email], 
.list-block input[type=number], .list-block input[type=password], .list-block input[type=search], 
.list-block input[type=tel], .list-block input[type=text], .list-block input[type=time], 
.list-block input[type=url], .list-block select, .list-block textarea, .list-block img{
	font-size:15px;
}
.list-block .item-after,.list-block .item-subtitle,.list-block .item-text,.card{
	font-size:13px;
}
.list-block ul:before,.list-block .item-inner:after,.card-header:after,.card-footer:before{
	background-color: #e6e6e6;
}

/*登陆页面样式*/
.login-screen-content .top-banner{
	width:70%;max-width:480px;margin:75px auto 15px auto;
}
.login-screen-content .send-mark-button{
	color:#FFFFFF;
	font-size: 15px;
}
.login-screen-content .submit-login-button{
	width:60%;
	margin:35px auto;
	border-radius: 15px;
	background: #73D658;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
}
.login-screen-content .list-block .item-content{
	padding-left: 0px;
	padding:5px 15px;
}
.login-screen-content .list-block .item-inner:after{
	height:0px;
}
.login-screen-content .list-block .item-inner{
	padding-right: 0px;
}
.login-screen-content .list-block .item-inner .f7-icons{
	color:#FFFFFF;
	font-size: 15px;
    width: 35px;
    padding:11px 0px 11px 0px;
    border-radius: 15px 0 0 15px;
    background: rgba(255,255,255,0.3);
}
.login-screen-content .list-block input[type=text],
.login-screen-content .list-block input[type=number],
.login-screen-content .list-block input[type=password]{
	color: #FFFFFF;
	height:37px;
	background:rgba(255,255,255,0.3);
	border-radius: 0 15px 15px 0;
}
.login-screen-content input::-webkit-input-placeholder{
    color:rgba(255,255,255,0.7);
}

/**
 * data-page="home"
 */
[data-page="home"] .swiper-container{
	height:200px;
}
[data-page="home"] .swiper-container .swiper-slide{
	text-align: center;
}
[data-page="home"] .swiper-container .swiper-slide img{
	height:200px;
}
[data-page="home"] .home-main-notice{
	background: #FFF;
	margin:5px auto;
	padding-top:5px;
	display: -webkit-flex;
  	display: flex;
  	padding-bottom:5px;
}
[data-page="home"] .home-main-entrance{
	background: #FFF;
}
[data-page="home"] .home-main-entrance div.col-33 a{
	display: block;
	height: 70px;
	padding-top:5px;
	color:rgb(0,0,0);
	/*border-left:1px solid #efeff4;
	border-bottom:1px solid #efeff4;*/
}
/*[data-page="home"] .home-main-entrance div.col-33:nth-child(1),
[data-page="home"] .home-main-entrance div.col-33:nth-child(4){
	border-left:0px;
}
[data-page="home"] .home-main-entrance div.col-33:nth-child(4),
[data-page="home"] .home-main-entrance div.col-33:nth-child(5),
[data-page="home"] .home-main-entrance div.col-33:nth-child(6){
	border-bottom:0px;
}*/
[data-page="home"] .home-main-entrance i.f7-icons{
	font-size:22px;display:block;color:#FFF;margin:3px auto;
	width:20px;height:20px;padding:10px;border-radius:20px;
}
html.ios-gt-8 [data-page="home"] .list-block.media-list .item-title,
[data-page="home"] .list-block.media-list .item-title{
	font-weight: normal;
	padding-bottom:10px;
}
[data-page="home"] .list-block .item-content{
	padding-left: 10px;
}
[data-page="home"] .list-block.media-list .item-link .item-inner{
	padding-right: 10px;
}








/**
 * 地图首页
 */
.map-page .page-content .page-pull-content{
	position:absolute;left:0px;right:0px;
	bottom:0px;
	top:0px;
	/*bottom:50px;top:44px;*/
}

/*商铺管理页面样式 */
.shop-page .list-block .item-text{
   -webkit-box-orient:horizontal;overflow:auto;height: auto;
}
/**
 * 彩信日报重点业务
 */
.mms-page .card-content-inner{
	padding:8px 5px;
}
.mms-page .card-footer:before{
	height:0px;
}
.mms-page .card-header{
	min-height:auto;
	padding:5px 10px 0px 10px
}
.mms-page .card-header:after{
	height: 0px;
}
.mms-page .card-footer{
	display: block;
	text-align: center;
	min-height: auto;
	padding:0px 0px 1px 0px;
}
.mms-page .card-footer a{
	display:block;background:#9DD9F1;
	width:100px;height:30px;line-height:30px;
	margin:0px auto;color:#FFF;border-radius:8px 8px 0px 0px;
}
.mms-page .row .col-70,.mms-page .row .col-30{
	height:35px;
	line-height:35px;
}
.mms-page .row .col-30{
	text-align: right;
}

/*大数据报告页面样式*/
.shop-page .list-block .item-media+.item-inner,.bigdata-page .list-block .item-media+.item-inner{
	margin-left: 10px;
}
.shop-page .chip-media,.bigdata-page .chip-media{
	width:32px;height: 32px;
}
.bigdata-unitimg-page .page-content{
	background: #97CDE9;
}
.bigdata-unitimg-page ul{
	padding:0px;margin:0px;
}
.bigdata-unitimg-page .text-center{
	text-align:center;
}
.bigdata-unitimg-page h5{
	color:#FFF;text-decoration: underline;margin:5px 0px;
}
.bigdata-unitimg-page h6{
	margin:5px 0px;
}
.bigdata-unitimg-page .big-data-top-head{
	padding-top:10px;font-size:16px;color:#002060;font-weight:bold;min-width:370px;
}
.bigdata-unitimg-page .big-data-top-col{
	margin:auto;color:#FFFFFF;background: #97CDE9;
}
.bigdata-unitimg-page .big-data-top-col *{
	color:#FFFFFF;
}
.bigdata-unitimg-page .big-data-bbox{
	margin:30px 10px 15px 10px;background:#45A0CD;border:1px dashed #FFFFFF;border-radius:10px;
}
.bigdata-unitimg-page .big-data-icon{
	width:35px;height:35px;margin:-37px 0px 0px 27px;
	background:#007ECA;border-radius:25px;border:3px solid #3299D4;color:#65B2DE;
	font-size:20px;font-weight:bold;
}
.bigdata-unitimg-page .big-data-icon-img{
	width:28px;height:28px;
	background:url('../images/work/bigdata/iconfont-youhuiquan.png') no-repeat;
	background-size:28px 28px;
	margin-top:3px;
	margin-left:3px;
}
.bigdata-unitimg-page .big-data-head{
	height:35px;background:#FFFFFF;border-radius:20px;margin-top:-17px;margin-left:28px;margin-right:28px;
}
.bigdata-unitimg-page .big-data-title{
	color:#4E98D7;font-size:16px;padding-top:7px;text-align:center;font-weight:bold;
}
.bigdata-unitimg-page .big-data-content{
	padding:5px 10px;
}
.bigdata-unitimg-page .big-data-content span{
	font-size:14px;color:#FFDF35;font-weight:bold;
}
.bigdata-unitimg-page .big-data-message{
	background:#82C5DF;border-radius:10px;padding:5px 5px 5px 110px;line-height:180%;min-height: 65px;
}
.bigdata-unitimg-page .big-data-vice-box{
	margin:15px 0px;
}
.bigdata-unitimg-page .big-data-vice-icon{
	width:15px;height:15px;
	float:left;background:#98DFFD;border-radius:15px;padding:0px 0px 0px 5px;margin:1px 5px 0px 0px;
}
.bigdata-unitimg-page .big-data-vice-head{}

.bigdata-unitimg-page .big-data-unitinfo .big-data-content{
	background:url('../images/work/bigdata/shuju_2.png') no-repeat 100% 15%;
}
.bigdata-unitimg-page .big-data-unitinfo .big-data-content .big-data-unitinfo-h6{
	padding:8px 0px 8px 28px;
}
.bigdata-unitimg-page .big-data-content .big-data-item-h6{
	padding:8px 0px;
}
.bigdata-unitimg-page .big-echart-head{
	padding:10px 5px 5px 10px;
}
.bigdata-unitimg-page .big-echart-rect-icon{
	width:25px;height:13px;background:#FFDF36;display:inline-block;
}
.bigdata-unitimg-page .unit_order_product_item{
	width:32%;display:inline-block;text-align:center;padding:0px;margin:15px auto;
}
.bigdata-unitimg-page .unit_order_product_item_icon_1{
	margin:0px auto;width:48px;height:48px;background:url('../images/work/bigdata/ooopic_1499847644.png');
}
.bigdata-unitimg-page .unit_order_product_item_icon_2{
	margin:0px auto;width:48px;height:48px;background:url('../images/work/bigdata/ooopic_1499847632.png');
}
.bigdata-unitimg-page .unit_order_product_item_icon_3{
	margin:0px auto;width:48px;height:48px;background:url('../images/work/bigdata/ooopic_1499847634.png');
}
.bigdata-unitimg-page .unit_order_product_item_icon_4{
	margin:0px auto;width:48px;height:48px;background:url('../images/work/bigdata/ooopic_1499847638.png');
}
.bigdata-unitimg-page .unit_order_product_item_icon_5{
	margin:0px auto;width:48px;height:48px;background:url('../images/work/bigdata/ooopic_1499847631.png');
}
.bigdata-unitimg-page .unit_product_index_item{
	width:48.5%;display:inline-block;text-align:center;
	border:1px solid #BBB;margin-top:3px;
	padding:8px 0px;
}
.bigdata-unitimg-page .unit_product_money_index{
	background:url('../images/work/bigdata/unit_product_money_index.png') no-repeat;
	background-position:8px 50%;background-size:30px 30px; 
}
.bigdata-unitimg-page .unit_product_owefee_index{
	background:url('../images/work/bigdata/unit_product_owefee_index.png') no-repeat;
	background-position:8px 50%;background-size:30px 30px; 
}
.bigdata-unitimg-page .unit_product_price_index{
	background:url('../images/work/bigdata/unit_product_price_index.png') no-repeat;
	background-position:8px 50%;background-size:30px 30px; 
}
.bigdata-unitimg-page .unit_product_amount_index{
	background:url('../images/work/bigdata/unit_product_amount_index.png') no-repeat;
	background-position:8px 50%;background-size:30px 30px; 
}
.bigdata-unitimg-page .unit_product_send_index{
	background:url('../images/work/bigdata/unit_product_send_index.png') no-repeat;
	background-position:8px 50%;background-size:30px 30px; 
}
.bigdata-unitimg-page .shuju_3{
	background:url('../images/work/bigdata/shuju_3.png') no-repeat center left;
}
.bigdata-unitimg-page .shuju_4{
	background:url('../images/work/bigdata/shuju_4.png') no-repeat center left;
}
.bigdata-unitimg-page .shuju_5{
	background:url('../images/work/bigdata/shuju_5.png') no-repeat center left;
}
.bigdata-unitimg-page .shuju_6{
	background:url('../images/work/bigdata/shuju_6.png') no-repeat center left;
}
.bigdata-unitimg-page .shuju_10{
	background-image:url('../images/work/bigdata/shuju_10.png');
	background-repeat: no-repeat;
	background-position: 25px 50%;
}
.bigdata-unitimg-page .shuju_11{
	background-image:url('../images/work/bigdata/shuju_11.png');
	background-repeat: no-repeat;
	background-position: 25px 50%;
}
.bigdata-unitimg-page .shuju_14{
	background-image:url('../images/work/bigdata/shuju_14.png');
	background-repeat: no-repeat;
	background-position: 25px 50%;
}
.bigdata-unitimg-page .shuju_15{
	background-image:url('../images/work/bigdata/shuju_15.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}
.bigdata-unitimg-page .shuju_29{
	background-image:url('../images/work/bigdata/shuju_29.png');
	background-repeat: no-repeat;
	background-position: 25px 50%;
}
.bigdata-unitimg-page .shuju_31{
	background: url('../images/work/bigdata/shuju_31.png');
	background-repeat: no-repeat;
	background-position: bottom center;
}